@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*
{
	margin: 0;
	padding: 0;
}

body
{
	background-color: #f1f3f4;
	font-family: sans-serif;
}

header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.6s;
	padding: 40px 100px;
	z-index: 10;

	border-bottom: 3px solid red;
}
header.sticky
{
	padding: 5px 100px;
	background: red;

}
header .logo
{
	position: relative;
	font-weight: 700;
	color: #000;
	text-decoration: none;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: 0.6s;
	margin-right: 10px;
}

header ul
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

header ul li
{
	position: relative;
	list-style: none;
}


header ul li a
{
	position: relative;
	margin: 0 15px;
	text-decoration: none;
	color: #000;
	letter-spacing: 2px;
	font-weight: 500px;
	transition: 0.5s;
}
header.sticky .logo,
.sticky ul li a
{
	color: #fff;
}
.banner
{
	position: relative;
	width: 100%;
	height: 10vh;
	background: #fff;
	background-size: cover;
}

@media (max-width: 767px) {
	.banner
	{
		height: 80px;
	}
	header.sticky,
	header
	{
		padding-left: 10px;

	}
	header ul li a
	{
		margin: 0 10px;
	}

}

@media (max-width: 550px) {
	.logged-in i
	{
		display: none;
	}
}

.header{
	margin-top: 15px;
}


/*---- side menu-----*/
.nav-side-menu {
  
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: red;
  position: relative;
  top: 0px;
  width: 20%;
  height: 80%;
  color: #e1ffff;
  float: left;
  z-index: 2;
  margin-right: 5px;

}

#menu-btn, #close-btn
{
	font-size: 30px;
	margin:10px;
	color: red;
	display:none;
}

.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: red;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid red;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid red;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 750px) {
  .nav-side-menu {
    width: 40%;
    z-index: 20;
    top: 133px;
    position: fixed;
    font-size: 12px;
    display: none;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
    
  }

  #menu-btn
  {
  	display: block;
  }

}



/*----slider-----*/
.slider
{
	width: 80%;
	margin-left: 20%;
	margin-top: 10px;
	padding: 0 10px;

}

.carousel
{
	box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.5)
}

.carousel-indicators
{
	z-index: 1 !important;
}



@media only screen and (max-width: 750px) 
{
	.slider
	{
		width: 100%;
		margin-left: 0;
		padding-top: 5px;
	}
}

/*----featued items------*/
.featured-categories
{
	margin: 50px 0;
}

.featured-categories img
{
	width: 100%;
	padding: 20px 0;
	transition: 1s;
	cursor: pointer;
}

.featured-categories img:hover
{
	transform: scale(1.1);
}

/*-----On Sale-------*/

.title-box
{
	background-color: red;
	color: #fff;
	width: 180px;
	padding: 4px 10px;
	height: 40px;
	margin-bottom: 30px;
	display: flex;
}

.title-box h2
{
	font-size: 24px;
}

.title-box::after
{
	content: '';
	border-top: 40px solid red;
	border-right: 50px solid transparent;
	position: absolute;
	display: flex;
	margin-top: -4px;
	margin-left: 170px;
}

.title-box-2
{
	background-color: red;
	color: #fff;
	width: 80%;
	padding: 4px 10px;
	height: 40px;
	margin-bottom: 30px;
	display: flex;
}

.title-box-2 h2
{
	font-size: 24px;
}







/*----product top-------*/
.product-top img
{
	width: 100%;
	padding-top: 10px;
}



.overlay-right
{
	display: block;
	opacity: 0;
	position: absolute;
	top: 10%;
	margin-left: 0;
	width: 70px;
}

.overlay-right .fa
{
	cursor: pointer;
	background-color: #fff;
	color: #000;
	height: 35px;
	width: 35px;
	font-size: 20px;
	padding: 7px;
	margin-top: 5%;
	margin-bottom: 5%;
}

.overlay-right .btn-secondary
{
	background: none !important;
	border: none !important;
	box-shadow: none !important;
}

.product-top:hover .overlay-right
{
	opacity: 1;
	margin-left: 5%;
	transition: 0.5s;
}

/*----product bottom-------*/
.product-bottom .fa
{
	color: red;
	font-size: 10px;
}

.product-bottom h3
{
	font-size: 20px;
	font-weight: bold;

}

.product-bottom h5
{
	font-size: 15px;
	padding-bottom: 10px;
}

.viewButton
{
	position: relative;
	display: inline-block;
	padding: 10px 36px;
	margin: 5px 0;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 2px;
	border-radius: 40px;
	background: linear-gradient(90deg,#FF153B, #FF6D84);
}

.viewButton:hover
{
	background: linear-gradient(90deg,#FBA9B6, #FF153B);
	color:white;
	text-decoration: none;
}

/*------ new products -----*/
.new-products
{
	margin: 50px 0;
}

/*------website features------*/
.website-features
{
	margin: 60px 0;
}

.website-features img
{
	width: 20%;
}

.feature-text
{
	margin-top: 10px;
	float: right;
	width: 80%;
	padding-left: 20px;
}

.feature-box
{
	padding-top: 20px;
}

/*-----footer-------*/
.footer
{
	margin-top: 50px;
	background: #000;
	color: #fff;

}

.footer h1
{
	font-size: 15px;
	margin: 25px 0;
}

.footer p
{
	font-size: 12px;
}

.footer img
{
	width: 150px;
}

.copyright
{
	margin-bottom: -80px;
	text-align: center;
	font-size: 15px;
	padding-bottom: 20px;
}

.footer hr
{
	margin-top: 10px;
	background-color: #ccc;
}

.footer .row .fa
{
	padding-right: 20px;
	font-size: 15px;
}

/*----Product Page ---*/
.single-product
{
	margin-top: -4px;
}

.new-arrival
{
	background:blue;
	width: 50px;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	margin-top: 20px;
}

.col-md-7 h2
{
	color: #555;
}

.single-product .fa
{
	color: red;
}

.single-product input
{
	border: 1px solid #ccc;
	font-weight: bold;
	height: 33px;
	text-align: center;
	width: 30px;
}

.single-product .btn-primary
{
	background: red !important;
	color: #fff;
	font-size: 15px;
	margin-left: 20px;
	border: none;
	box-shadow: none !important;
}

.product-description h6
{
	margin-top: 50px;
	color: red;
}

.product-description p
{
	margin-top: 30px;
}

.product-description
{
	margin-left: 225px;
	margin-right: 225px;
}

.product-description hr
{
	margin-bottom: 50px;
}

/*----- cart items -------*/
.cart-page
{
	margin: 80px auto;
	list-style-type: none;
}

.cart-page button
{
	position: absolute;
	display: inline-block;
	padding: 6px 20px;
	margin: 5px 0;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 8px;
	margin-left: 20px;
	letter-spacing: 2px;
	border-radius: 40px;
	border: none;
	background: linear-gradient(90deg,#FF153B, #FF6D84);
}

.cart-page button:hover
{
	background: linear-gradient(90deg,#FBA9B6, #FF153B);
	color:white;
	text-decoration: none;
}

.cartStyle
{
	margin-top: 30px;
	list-style-type: none;
	font-size: 18px;
}

.title-box-3
{
  background-color:red; 
  width:80%; height:80px;
  line-height:80px;
  font-size:40px;
  text-align:center;
  position:relative;
  color:#fff;
  margin-top: 30px;

}

.title-box-3:before, .title-box-3:after {
  background-color:#a44; 
  width:50px; height:80px;
  content:'';
  display:block; 
  transform:skewY(20deg);
  position:absolute;
  z-index:-1;
}

.title-box-3:before {top:10px; left:0; }
.title-box-3:after {top:-10px; right:0; }

.product-description h6
{
	border: 1px solid red;
	padding: 10px 10px;
	width: 165px; 
box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

}











