	<!-- footer -->
	<section class="footer">
		<div class="container text-center">
			<div class="row">
				
				<!-- useful links -->
				<div class="col-md-3">
					<h1>Useful Links</h1>
					<p>Privacy Policy</p>
					<p>Return Policy</p>
					<p>Terms of Use</p>
				</div><!--- column end -->

				<!-- copmpany links -->
				<div class="col-md-3">
					<h1>Company</h1>
					<p>About Us</p>
					<p>Contact Us</p>
					<p>Affiliate</p>
				</div><!--- column end -->

				<!-- follow -->
				<div class="col-md-3">
					<h1>Follow Us On</h1>
					<p><i class="fa fa-facebook-official"></i> Facebook</p>
					<p><i class="fa fa-instagram"></i> Instagram</p>
					<p><i class="fa fa-linkedin"></i> Linkedin</p>
				</div><!--- column end -->

				<!-- follow -->
				<div class="col-md-3 footer-image">
					<h1>Download App</h1>
					<img src="images/utility/appsoon.png">
				</div><!--- column end -->

			</div><!-- row end -->

			<hr>
			<p class="copyright">Website Created By Curtis Stephens. For Business Inqueries Contact rizerr@gmail.com</p>
		</div><!-- container end -->

	</section><!-- footer end -->