	<!-- nav side menu -->
	<section class="header">
        <div class="nav-side-menu" id="side-menu">
            <div class="menu-list">
      
                <ul id="menu-content" >
    
                    <li data-toggle="collapse" data-target="#service" class="collapsed">
                      <a href="#"><i class="fa fa-hand-holding-heart fa-lg"></i> On Sale <span class="arrow"></span></a>
                    </li>  
                    <ul class="sub-menu collapse" id="service">
                      <li><a href="specials.html">View Specials</a></li>
                    </ul>
    
                    <li data-toggle="collapse" data-target="#sawblades" class="collapsed">
                      <a href="#"><i class="fa fa-fan fa-lg"></i> Saw Blades <span class="arrow"></span></a>
                    </li>  
                    <ul class="sub-menu collapse" id="sawblades">
                      <li><a href="sawblades.html">All Blades</a></li>
                    </ul>
    
    
                    <li data-toggle="collapse" data-target="#bits" class="collapsed">
                      <a href="#"><i class="fa fa-dot-circle fa-lg"></i> Drill Bits <span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="bits">
                      <li><a href="wood_bits.html">Wood Drilling Bits</a></li>
                      <li><a href="metal_bits.html">Metal Drilling Bits</a></li>
                      <li><a href="concrete_bits.html">Concrete Drilling Bits</a></li>
                    </ul>
    
                    <li data-toggle="collapse" data-target="#safety" class="collapsed">
                      <a href="#"><i class="fa fa-hard-hat fa-lg"></i> Safety Items <span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="safety">
                      <li><a href="general_safety.html">General Safety</a></li>
                    </ul>
    
                    <li data-toggle="collapse" data-target="#electrical" class="collapsed">
                      <a href="#"><i class="fa fa-plug fa-lg"></i> Electrical <span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="electrical">
                      <li><a href="cords.html">Cords & Lights</a></li>
                      <li><a href="holesaw.html">Holesaws & Wingnuts</a></li>
                    </ul>
    
                    <li data-toggle="collapse" data-target="#wheel" class="collapsed">
                      <a href="#"><i class="fa fa-dharmachakra fa-lg"></i> Abrasives<span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="wheel">
                      <li><a href="cutgrind.html">Cutting & Grinding</a></li>
                      <li><a href="sanding.html">Sanding Products</a></li>
    
                    </ul>
    
                    <li data-toggle="collapse" data-target="#diamond" class="collapsed">
                      <a href="#"><i class="fa fa-gem fa-lg"></i> Diamond<span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="diamond">
                      <li><a href="diamond.html">All Diamond Products</a></li>
                    </ul>
    
                    <li data-toggle="collapse" data-target="#chem" class="collapsed">
                      <a href="#"><i class="fa fa-oil-can fa-lg"></i> Chemicals <span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="chem">
                      <li><a href="chemicals.html">All Chemicals & Accessories</a></li>
                    </ul>
    
                    <li data-toggle="collapse" data-target="#handtools" class="collapsed">
                      <a href="#"><i class="fa fa-wrench fa-lg"></i> Hand Tools <span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="handtools">
                      <li><a href="powertools.html">Cordless & Power Tools</a></li>
                      <li><a href="wrenches.html">Wrenches</a></li>
                      <li><a href="sockets.html">Sockets</a></li>
                      <li><a href="threading.html">Extractors & Threaders</a></li>
                      <li><a href="pliers.html">Pliers & Clamps</a></li>
                      <li><a href="williams.html">Williams Tools</a></li>
                    </ul>
    
                    <li data-toggle="collapse" data-target="#shop" class="collapsed">
                      <a href="#"><i class="fa fa-car fa-lg"></i> Shop Tools <span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="shop">
                      <li><a href="hydraulic.html">Jacks and Hydraulic</a></li>
                      <li><a href="pneumatic.html">Pneumatic Tools</a></li>
                      <li><a href="shoptools.html">Miscellaneous</a></li>
                    </ul>
    
                    <li data-toggle="collapse" data-target="#expend" class="collapsed">
                      <a href="#"><i class="fa fa-plus-square fa-lg"></i> Expendables <span class="arrow"></span></a>
                    </li>
                    <ul class="sub-menu collapse" id="expend">
                      <li><a href="straps.html">Tarps, Straps, and Ties</a></li>
                      <li><a href="screwdrivers.html">Screwdrivers and Nutdrivers</a></li>
                      <li><a href="tape.html">Tapes</a></li>
                    </ul>
    
                </ul>
            </div><!-- end menu -->
        </div>
    </section>

    	<!-- open and close side menu -->
	<script>
		const buttons = document.querySelectorAll('viewButton');
		buttons.forEach(btn => {
			btn.addEventListener('click', function(e) {

				let x = e.clientX - e.target.offsetLeft;
				let y = e.clientY - e.target.offsetTop;

				let ripples = document.createElement('span');
				ripples.style.left = x + 'px';
				ripples.style.top = y + 'px';
				btn.appendChild(ripples);
			})
		})

		function openmenu()
		{
			document.getElementById("side-menu").style.display="block";
			document.getElementById("menu-btn").style.display="none";
			document.getElementById("close-btn").style.display="block";
		}
		function closemenu()
		{
			document.getElementById("side-menu").style.display="none";
			document.getElementById("menu-btn").style.display="block";
			document.getElementById("close-btn").style.display="none";
		}
	</script> <!-- open ansd close side menu end -->